body {
    background: rgb(255, 255, 255);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: arial;
    margin: auto;
    max-width: 800px;
}

.main {
    margin-top: 20px;
    display: flex;
    gap: 40px;
}

.sidebar {
    width: auto;
}

.content {
    width: auto;
}

.sidebar img {
    width: 100px;
    border-radius: 999px;
    height: auto;
}
p {
    font-size: 16px;
    margin: 0px;
}

h1 {
    font-size: 24px;
    margin: 0px;
}

h2 {
    font-size: 20px;
    margin: 0px;
}

h3 {
    font-size: 18px;
    margin: 0px;
}

h4 {
    font-size: 16px;
    margin: 0px;
}
