---
title: About
---

<section class="backstory-container">
            <h3>My Backstory</h3>
            <p>Hi, my name is Sewell Stephens. I'm a software dev and business owner with experience in building products and businesses. It all started when I was a kid. I always had the dream to own my own business and build products that help people live better lives.</p>
            <p>When I was 12 years old, I first learned how to code in HTML. But before any of that, I had many other business ideas most of which were not online businesses. I one day decided why not start an online business and not have to worry about the physical aspects of running a business, primarly expensive ones like a storefront or restaurant.</p>
            <p>I am currently 20 years old and have been creating online sites and businesses for the past 8 years or so. I have had many ups and downs but I have learned a lot and I am still learning. I am currently working on Anchorclick, a done for you automation agency. Unlike other similar agencies, this one will use our in house AutoAnchorJS library to help with desktop automation tasks where APIs are not available or not feasible.</p>
</section>