---
title: Home
---

<section class="newsletter-signup">
            <h3>Newsletter</h3>
            <p>Subscribe to my newsletter to get the latest news and updates.</p>
            <form onsubmit="event.preventDefault(); handleSubmit(event)" id="newsletter-form">
                <label for="email">Email address</label>
                <input type="email" name="email" id="email" placeholder="Enter your email address" required>
                <button type="submit">Submit</button>
            </form>
        </section>

        <section class="projects-container">
            <h3>Projects</h3>
            <ul>
                <li><img src="/site-assets/logos/anchorclick.webp" width="40"><a href="https://anchorclick.com">Anchorclick</a> - Done for you automation agency <span class="project-date">Dec 2024 - present</span></li>
                <li><img src="/site-assets/logos/krastie.webp" width="40"><a href="https://krastie.ai">Krastie AI</a> - AI-powered SEO writing tool <span class="project-date">Mar 2024 - present</span></li>
            </ul>
        </section>

        <section class="experience-container">
            <h3>Experience in</h3>
            <ul>
                <li><img src="/site-assets/logos/n8n.webp" width="40" height="40"><p>n8n</p></li>
                <li><img src="/site-assets/logos/webflow.webp" width="40" height="40"><p>Webflow</p></li>
                <li><img src="/site-assets/logos/make.jpg" width="40" height="40"><p>Make</p></li>
                <li><img src="/site-assets/logos/react.png" width="40" height="40"><p>React</p></li>
                <li><img src="/site-assets/logos/node.png" width="40" height="40"><p>NodeJS</p></li>
            </ul>
        </section>

        