
body {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid rgb(172, 167, 167);
  border-radius: 10px;
  background-color: rgb(252, 252, 252);
  position: relative;
}

#score, #highScore {
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  font-family: 'Arial', sans-serif;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: green;
  z-index: 2;
}

#snake-head {
  background-color: darkgreen;
}

.apple {
  background-color: red;
  z-index: 1;
}